#form_login {
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background: #ffffff;
}

#form_login h1 {
  margin: 5px 0 15px;
  display: block;
}

#form_login input[type="text"],
#form_login input[type="email"],
#form_login input[type="tel"],
#form_login input[type="number"],
#form_login input[type="password"],
#form_login input[type="url"],
#form_login textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#form_login input[type="text"]:hover,
#form_login input[type="email"]:hover,
#form_login input[type="tel"]:hover,
#form_login input[type="number"]:hover,
#form_login input[type="password"]:hover,
#form_login input[type="url"]:hover,
#form_login textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#form_login textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#form_login button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#form_login button[type="submit"]:hover {
  background: grey;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#form_login button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#form_login input:focus,
#form_login textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: grey;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: rgb(0, 0, 0);
}

body {
  background-image: url(../../../imagens/fundo.jpg);
}